.buttons {
  flex-direction: row;
  flex-wrap: wrap;
}

.button {
  font-size: 30px;
  height: 85px;
  width: 97.5px;
  padding: 8px;
  background-color: #000;
  color: #fff;
  border-color: #222;
  text-align: center;
  outline: none;
}

@media (max-width: 800px) {
  .button {
    width: 98.5px;
  }
}

@media (max-width: 400px) {
  .button {
    width: 89px;
    height: 75px;
  }
}

@media (max-width: 320px) {
  .button {
    width: 75px;
    height: 65px;
    font-size: 26px;
  }
}
