.buttons {
  flex-direction: row;
  flex-wrap: wrap;
}

.button {
  font-size: 30px;
  height: 8vh;
  width: 5vw;
  padding: 1vw 1vh;
  background-color: #000;
  color: #FFFFFF;
  border-color: #222222;
  text-align: center;
  outline: none;
}

@media (max-width: 800px) {
  .button {
    width: 24vw;
    height: 12.68vh;
  }
}

@media (max-width: 400px) {
  .button {
    width: 24vw;
    height: 11.87vh;
  }
}
