.div-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 18vw;
    padding-left: 1vw;
    padding-right: 1vw;
    padding-top: 1.5vh;
    padding-bottom: 1vh;
    background-color: #444444;
}
  
.div-screen-operation {
    font-size: 25px;
    color: #FFFFFF;
    height: 2vh;
}
  
.div-screen-result {
    font-size: 50px;
    color: #FFFFFF;
}

@media (max-width: 800px) {
    .div-screen {
      width: 94vw;
    }
}
