.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 300px;
  border: 1px solid #000;
  margin: 50px auto;
}

.div-screen {
  display: flex;
  padding-left: 20px;
  padding-right: 20px;
  justify-content: center;
  align-items: flex-end;
  background-color: #444;
  flex-direction: column;
  width: 260px;
}

.div-screen-operation {
  font-size: 25px;
  color: #fff;
  height: 20px;
}

.div-screen-result {
  font-size: 50px;
  color: #fff;
}

.button {
  font-size: 30px;
  height: 75px;
  width: 75px;
  padding: 20px;
  background-color: #000;
  color: #fff;
  border-color: #000;
  text-align: center;
  outline: none;
}

.buttons {
  flex-direction: row;
  flex-wrap: wrap;
}
